@use '../base'
@use '../variables' as var

.page-header
    @extend %fxrow
    gap: var.$unit-2x
    height: var.$unit-4x
    margin: var.$unit-4x var.$unit-3x
    align-items: center
    justify-content: space-between

    hgroup
        @extend %fxrow
        gap: var.$unit-2x
        height: 100%
        padding-inline: var.$unit-1x

        h1
            font: var.$text-heading-2
            width: fit-content

    &__profile
        @extend %fxrow
        align-items: center
        gap: var.$unit-2x
        p
            font: var.$text-body-4

        div
            text-align: right

    &__img-wrap
        @extend %fxrow
        align-items: center
        justify-content: center

        aspect-ratio: 1 / 1
        flex: 0 0 auto
        min-height: var.$unit-4x

        background-color: var.$gray-100
        border-radius: 100%

        p
            font-weight: 900
            width: fit-content
            color: var.$gray-600